<h1>Blog</h1>
<div>
<div><%= @blog.title%></div>
<div><%= @blog.content%></div>
</div>

<%= link_to "update", edit_blog_path %>
<hr>
<%= link_to "destroy", blog_path, method: :delete %>

<hr>
<%= form_for [@blog, @blog.comments.build] do |f| %>
<%= f.text_area :content %>
<%= f.submit %>
<% end %>

<h3>All comments</h3>
<% @blog.comments.each do |x| %>
<% if x.id == nil %>
<% else %>
<div><%=x.content%></div>
<a href="/blogs/<%=@blog.id%>/comments/<%=x.id%>/edit">EDIT COMMENTS</a>
<% end %>
<hr>
<% end %>
